In [1]:
from requests import get
from bs4 import BeautifulSoup
import pandas as pd

from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set_style('darkgrid')

In [2]:
#Feature Film, Released between 2014-11-01 and 2019-10-31, Rating Count at least 1,000, United States, English,
#Including Adult Titles (Sorted by Release Date Descending)

In [3]:
base_url = "https://www.imdb.com/search/title/?title_type=feature&release_date=2014-11-01,2019-10-31&num_votes=1000,&countries=us&languages=en&adult=include&view=simple&sort=release_date,desc&count=250"
mid_url = "&start="
end_url = "&ref_=adv_nxt"

In [4]:
url = base_url
response = get(url)
print(response)

<Response [200]>

In [5]:
html_soup = BeautifulSoup(response.text, 'html.parser')
type(html_soup)

bs4.BeautifulSoup

In [6]:
movie_list = html_soup.find_all('div', class_ = 'lister-item mode-simple')
len(movie_list)

250

In [7]:
movie_list[0]

<div class="lister-item mode-simple">
<div class="lister-item-image">
<a href="/title/tt5606664/"> <img alt="Doctor Sleep" class="loadlate" data-tconst="tt5606664" height="50" loadlate="https://m.media-amazon.com/images/M/MV5BYmY3NGJlYTItYmQ4OS00ZTEwLWIzODItMjMzNWU2MDE0NjZhXkEyXkFqcGdeQXVyMzQzMDA3MTI@._V1_UX34_CR0,0,34,50_AL_.jpg" src="https://m.media-amazon.com/images/G/01/imdb/images/nopicture/large/film-184890147._CB470041630_.png" width="34"/>
</a> </div>
<div class="lister-item-content">
<div class="lister-col-wrapper">
<div class="col-title">
<span class="lister-item-header">
<span class="lister-item-index unbold text-primary">1.</span>
<span title="Mike Flanagan (dir.), Ewan McGregor, Rebecca Ferguson">
<a href="/title/tt5606664/">Doctor Sleep</a>
<span class="lister-item-year text-muted unbold">(2019)</span>
</span>
</span>
</div>
<div class="col-imdb-rating">
<strong title="7.7 base on 18,244 votes">
                            7.7
                        </strong>
</div>
<div class="col-user-rating ratings-user-rating">
<div class="ipl-rating-widget">
<div class="ipl-rating-star--placeholder"></div>
<div class="ipl-rating-interactive small ipl-rating-interactive--no-rating">
<input class="ipl-rating-interactive__state" data-reftag="adv_rt" data-tconst="tt5606664" id="checkbox-tt5606664" type="checkbox"/>
<label class="ipl-rating-interactive__star-container" for="checkbox-tt5606664">
<div class="ipl-rating-star ipl-rating-interactive__star">
<span class="ipl-rating-star__star">
<svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<path d="M0 0h24v24H0z" fill="none"></path>
<path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
<path d="M0 0h24v24H0z" fill="none"></path>
</svg>
</span>
<span class="ipl-rating-star__rating">0</span>
</div>
<div class="ipl-rating-star ipl-rating-interactive__star--empty">
<span class="ipl-rating-star__star">
<svg class="ipl-icon ipl-star-border-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"></path>
<path d="M0 0h24v24H0z" fill="none"></path>
</svg>
</span>
<span class="ipl-rating-star__rating">Rate</span>
</div>
</label>
<div class="ipl-rating-selector" data-value="0" id="ipl-rating-selector-tt5606664">
<div class="ipl-rating-selector__selector ipl-rating-selector__wrapper">
<div class="ipl-rating-selector__reset">
<a href="#void"> <svg class="ipl-icon ipl-cancel-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<path d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z"></path>
<path d="M0 0h24v24H0z" fill="none"></path>
</svg>
</a>
</div>
<span class="ipl-rating-selector__divider"></span>
<form action="/ratings/_ajax/title" class="ipl-rating-selector__star-list" method="post">
<a class="ipl-rating-selector__star-link" data-value="1" href="#void">
<div class="ipl-rating-star ipl-rating-interactive__star">
<span class="ipl-rating-star__star">
<svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<path d="M0 0h24v24H0z" fill="none"></path>
<path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
<path d="M0 0h24v24H0z" fill="none"></path>
</svg>
</span>
<span class="ipl-rating-star__rating">1</span>
</div>
<div class="ipl-rating-star ipl-rating-interactive__star--empty">
<span class="ipl-rating-star__star">
<svg class="ipl-icon ipl-star-border-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"></path>
<path d="M0 0h24v24H0z" fill="none"></path>
</svg>
</span>
<span class="ipl-rating-star__rating">Rate</span>
</div>
</a>
<a class="ipl-rating-selector__star-link" data-value="2" href="#void">
<div class="ipl-rating-star ipl-rating-interactive__star">
<span class="ipl-rating-star__star">
<svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<path d="M0 0h24v24H0z" fill="none"></path>
<path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
<path d="M0 0h24v24H0z" fill="none"></path>
</svg>
</span>
<span class="ipl-rating-star__rating">2</span>
</div>
<div class="ipl-rating-star ipl-rating-interactive__star--empty">
<span class="ipl-rating-star__star">
<svg class="ipl-icon ipl-star-border-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"></path>
<path d="M0 0h24v24H0z" fill="none"></path>
</svg>
</span>
<span class="ipl-rating-star__rating">Rate</span>
</div>
</a>
<a class="ipl-rating-selector__star-link" data-value="3" href="#void">
<div class="ipl-rating-star ipl-rating-interactive__star">
<span class="ipl-rating-star__star">
<svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<path d="M0 0h24v24H0z" fill="none"></path>
<path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
<path d="M0 0h24v24H0z" fill="none"></path>
</svg>
</span>
<span class="ipl-rating-star__rating">3</span>
</div>
<div class="ipl-rating-star ipl-rating-interactive__star--empty">
<span class="ipl-rating-star__star">
<svg class="ipl-icon ipl-star-border-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"></path>
<path d="M0 0h24v24H0z" fill="none"></path>
</svg>
</span>
<span class="ipl-rating-star__rating">Rate</span>
</div>
</a>
<a class="ipl-rating-selector__star-link" data-value="4" href="#void">
<div class="ipl-rating-star ipl-rating-interactive__star">
<span class="ipl-rating-star__star">
<svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<path d="M0 0h24v24H0z" fill="none"></path>
<path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
<path d="M0 0h24v24H0z" fill="none"></path>
</svg>
</span>
<span class="ipl-rating-star__rating">4</span>
</div>
<div class="ipl-rating-star ipl-rating-interactive__star--empty">
<span class="ipl-rating-star__star">
<svg class="ipl-icon ipl-star-border-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"></path>
<path d="M0 0h24v24H0z" fill="none"></path>
</svg>
</span>
<span class="ipl-rating-star__rating">Rate</span>
</div>
</a>
<a class="ipl-rating-selector__star-link" data-value="5" href="#void">
<div class="ipl-rating-star ipl-rating-interactive__star">
<span class="ipl-rating-star__star">
<svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<path d="M0 0h24v24H0z" fill="none"></path>
<path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
<path d="M0 0h24v24H0z" fill="none"></path>
</svg>
</span>
<span class="ipl-rating-star__rating">5</span>
</div>
<div class="ipl-rating-star ipl-rating-interactive__star--empty">
<span class="ipl-rating-star__star">
<svg class="ipl-icon ipl-star-border-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"></path>
<path d="M0 0h24v24H0z" fill="none"></path>
</svg>
</span>
<span class="ipl-rating-star__rating">Rate</span>
</div>
</a>
<a class="ipl-rating-selector__star-link" data-value="6" href="#void">
<div class="ipl-rating-star ipl-rating-interactive__star">
<span class="ipl-rating-star__star">
<svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<path d="M0 0h24v24H0z" fill="none"></path>
<path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
<path d="M0 0h24v24H0z" fill="none"></path>
</svg>
</span>
<span class="ipl-rating-star__rating">6</span>
</div>
<div class="ipl-rating-star ipl-rating-interactive__star--empty">
<span class="ipl-rating-star__star">
<svg class="ipl-icon ipl-star-border-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"></path>
<path d="M0 0h24v24H0z" fill="none"></path>
</svg>
</span>
<span class="ipl-rating-star__rating">Rate</span>
</div>
</a>
<a class="ipl-rating-selector__star-link" data-value="7" href="#void">
<div class="ipl-rating-star ipl-rating-interactive__star">
<span class="ipl-rating-star__star">
<svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<path d="M0 0h24v24H0z" fill="none"></path>
<path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
<path d="M0 0h24v24H0z" fill="none"></path>
</svg>
</span>
<span class="ipl-rating-star__rating">7</span>
</div>
<div class="ipl-rating-star ipl-rating-interactive__star--empty">
<span class="ipl-rating-star__star">
<svg class="ipl-icon ipl-star-border-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"></path>
<path d="M0 0h24v24H0z" fill="none"></path>
</svg>
</span>
<span class="ipl-rating-star__rating">Rate</span>
</div>
</a>
<a class="ipl-rating-selector__star-link" data-value="8" href="#void">
<div class="ipl-rating-star ipl-rating-interactive__star">
<span class="ipl-rating-star__star">
<svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<path d="M0 0h24v24H0z" fill="none"></path>
<path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
<path d="M0 0h24v24H0z" fill="none"></path>
</svg>
</span>
<span class="ipl-rating-star__rating">8</span>
</div>
<div class="ipl-rating-star ipl-rating-interactive__star--empty">
<span class="ipl-rating-star__star">
<svg class="ipl-icon ipl-star-border-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"></path>
<path d="M0 0h24v24H0z" fill="none"></path>
</svg>
</span>
<span class="ipl-rating-star__rating">Rate</span>
</div>
</a>
<a class="ipl-rating-selector__star-link" data-value="9" href="#void">
<div class="ipl-rating-star ipl-rating-interactive__star">
<span class="ipl-rating-star__star">
<svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<path d="M0 0h24v24H0z" fill="none"></path>
<path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
<path d="M0 0h24v24H0z" fill="none"></path>
</svg>
</span>
<span class="ipl-rating-star__rating">9</span>
</div>
<div class="ipl-rating-star ipl-rating-interactive__star--empty">
<span class="ipl-rating-star__star">
<svg class="ipl-icon ipl-star-border-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"></path>
<path d="M0 0h24v24H0z" fill="none"></path>
</svg>
</span>
<span class="ipl-rating-star__rating">Rate</span>
</div>
</a>
<a class="ipl-rating-selector__star-link" data-value="10" href="#void">
<div class="ipl-rating-star ipl-rating-interactive__star">
<span class="ipl-rating-star__star">
<svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<path d="M0 0h24v24H0z" fill="none"></path>
<path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
<path d="M0 0h24v24H0z" fill="none"></path>
</svg>
</span>
<span class="ipl-rating-star__rating">10</span>
</div>
<div class="ipl-rating-star ipl-rating-interactive__star--empty">
<span class="ipl-rating-star__star">
<svg class="ipl-icon ipl-star-border-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"></path>
<path d="M0 0h24v24H0z" fill="none"></path>
</svg>
</span>
<span class="ipl-rating-star__rating">Rate</span>
</div>
</a>
<fieldset class="ipl-rating-selector__fieldset">
<input name="tconst" type="hidden" value="tt5606664">
<input name="rating" type="text" value="0">
<input name="auth" type="hidden" value=""/>
<input name="tracking_tag" type="hidden" value="adv_rt"/>
<input name="pageType" type="hidden" value=""/>
<input name="subpageType" type="hidden" value=""/>
</input></input></fieldset>
<noscript>
<input class="ipl-rating-selector__rating-submit" type="submit" value="Vote"/>
</noscript>
</form>
<span class="ipl-rating-selector__rating-value">0</span>
</div>
<div class="ipl-rating-selector__error ipl-rating-selector__wrapper">
<span>Error: please try again.</span>
</div>
</div>
<div class="ipl-rating-interactive__loader">
<img alt="loading" src="https://m.media-amazon.com/images/G/01/IMDb/spinning-progress.gif"/>
</div>
</div>
</div>
</div>
<div class="col-watchlist-ribbon text-center">
<div class="ribbonize" data-caller="filmosearch" data-tconst="tt5606664"></div>
</div>
</div>
</div>
<div class="clear"></div>
</div>

In [8]:
movie_title = str(movie_list[0].find_all("a")[1]).split("/")[2]

In [9]:
movie_name = movie_list[0].find_all("a")[1].text

In [10]:
movie_title

'tt5606664'

In [11]:
movie_name

'Doctor Sleep'

In [12]:
titles = html_soup.find('div', class_ = 'desc')
title_size = int(titles.span.text.split(" ")[2].replace(",", ""))
title_size

2158

In [13]:
url = base_url
titleID = []
title = []
response_dict = {}
i = 1
while i < title_size:
    response = get(url)
    response_dict[i+249] = response
    movies = BeautifulSoup(response.text, 'html.parser')
    movie_list = movies.find_all('div', class_ = 'lister-item mode-simple')
    for x in range(len(movie_list)):
        titleID.append(str(movie_list[x].find_all("a")[1]).split("/")[2])
        title.append(movie_list[x].find_all("a")[1].text)
    i += 249 #next 250 results
    if i > title_size:
        url = base_url+mid_url+str(title_size)+end_url
    else:
        url = base_url+mid_url+str(i)+end_url
        
print(len(titleID))
print(len(title))

2166
2166

In [14]:
response_dict #check if all successful

{250: <Response [200]>,
 499: <Response [200]>,
 748: <Response [200]>,
 997: <Response [200]>,
 1246: <Response [200]>,
 1495: <Response [200]>,
 1744: <Response [200]>,
 1993: <Response [200]>,
 2242: <Response [200]>}

In [15]:
df_titleID = pd.DataFrame(data = {"titleID": titleID, "title": title})
df_titleID.head() #all USA English movies for the past 5 years

      titleID                  title
0   tt5606664           Doctor Sleep
1   tt9257484            Rattlesnake
2   tt6924650                 Midway
3  tt10039344              Countdown
4   tt6450804  Terminator: Dark Fate

In [16]:
df_titleID.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2166 entries, 0 to 2165
Data columns (total 2 columns):
titleID    2166 non-null object
title      2166 non-null object
dtypes: object(2)
memory usage: 34.0+ KB

In [17]:
df_imdb_full = pd.read_csv("/Users/valmadrid/Downloads/title.basics.tsv", sep ="\t")

/Applications/anaconda3/envs/learn-env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [18]:
df_imdb_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6293397 entries, 0 to 6293396
Data columns (total 9 columns):
tconst            object
titleType         object
primaryTitle      object
originalTitle     object
isAdult           int64
startYear         object
endYear           object
runtimeMinutes    object
genres            object
dtypes: int64(1), object(8)
memory usage: 432.1+ MB

In [19]:
q = """SELECT i.*, t.title
    FROM df_titleID as t
    JOIN df_imdb_full as i
    ON t.titleID = i.tconst;"""
df_imdb= pysqldf(q)
df_imdb

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,title
0,tt5606664,movie,Doctor Sleep,Doctor Sleep,0,2019,\N,151,"Drama,Fantasy,Horror",Doctor Sleep
1,tt9257484,movie,Rattlesnake,Rattlesnake,0,2019,\N,85,"Drama,Horror,Mystery",Rattlesnake
2,tt6924650,movie,Midway,Midway,0,2019,\N,138,"Action,Drama,History",Midway
3,tt10039344,movie,Countdown,Countdown,0,2019,\N,90,"Horror,Thriller",Countdown
4,tt6450804,movie,Terminator: Dark Fate,Terminator: Dark Fate,0,2019,\N,128,"Action,Adventure,Sci-Fi",Terminator: Dark Fate
...,...,...,...,...,...,...,...,...,...,...
2161,tt2937898,movie,A Most Violent Year,A Most Violent Year,0,2014,\N,125,"Action,Crime,Drama",A Most Violent Year
2162,tt2300975,movie,Jessabelle,Jessabelle,0,2014,\N,90,"Horror,Thriller",Jessabelle
2163,tt1725986,movie,Some Kind of Beautiful,Some Kind of Beautiful,0,2014,\N,99,"Comedy,Romance",Lessons in Love
2164,tt0900387,movie,Suite Française,Suite Française,0,2014,\N,107,"Drama,Romance,War",Suite Française
2165,tt2187444,movie,Pernicious,Pernicious,0,2014,\N,90,"Horror,Thriller",Pernicious

In [20]:
for column in ["titleType", "startYear", "genres"]:
    display(df_imdb[column].value_counts())

movie    2166
Name: titleType, dtype: int64

2017    489
2016    488
2015    467
2018    440
2019    233
2014     49
Name: startYear, dtype: int64

Drama                         117
Comedy                        103
Comedy,Drama                   94
Horror,Thriller                81
Comedy,Drama,Romance           66
                             ...
Comedy,Family,Romance           1
Comedy,Mystery,Sci-Fi           1
Action,Thriller,Western         1
Adventure,Biography,Comedy      1
Fantasy,Horror,Musical          1
Name: genres, Length: 254, dtype: int64

In [21]:
df_imdb["check"] = df_imdb["primaryTitle"] == df_imdb["title"]

In [22]:
df_imdb.startYear = df_imdb.startYear.astype("int64")

In [23]:
df_imdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2166 entries, 0 to 2165
Data columns (total 11 columns):
tconst            2166 non-null object
titleType         2166 non-null object
primaryTitle      2166 non-null object
originalTitle     2166 non-null object
isAdult           2166 non-null int64
startYear         2166 non-null int64
endYear           2166 non-null object
runtimeMinutes    2166 non-null object
genres            2166 non-null object
title             2166 non-null object
check             2166 non-null bool
dtypes: bool(1), int64(2), object(8)
memory usage: 171.5+ KB

In [24]:
df_imdb_final= df_imdb.query("(titleType == 'movie') & (startYear >= 2014) & (check == True)").loc[df_imdb["genres"] != "\\N"]
df_imdb_final

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,title,check
0,tt5606664,movie,Doctor Sleep,Doctor Sleep,0,2019,\N,151,"Drama,Fantasy,Horror",Doctor Sleep,True
1,tt9257484,movie,Rattlesnake,Rattlesnake,0,2019,\N,85,"Drama,Horror,Mystery",Rattlesnake,True
2,tt6924650,movie,Midway,Midway,0,2019,\N,138,"Action,Drama,History",Midway,True
3,tt10039344,movie,Countdown,Countdown,0,2019,\N,90,"Horror,Thriller",Countdown,True
4,tt6450804,movie,Terminator: Dark Fate,Terminator: Dark Fate,0,2019,\N,128,"Action,Adventure,Sci-Fi",Terminator: Dark Fate,True
...,...,...,...,...,...,...,...,...,...,...,...
2160,tt3254796,movie,Big Stone Gap,Big Stone Gap,0,2014,\N,103,"Comedy,Romance",Big Stone Gap,True
2161,tt2937898,movie,A Most Violent Year,A Most Violent Year,0,2014,\N,125,"Action,Crime,Drama",A Most Violent Year,True
2162,tt2300975,movie,Jessabelle,Jessabelle,0,2014,\N,90,"Horror,Thriller",Jessabelle,True
2164,tt0900387,movie,Suite Française,Suite Française,0,2014,\N,107,"Drama,Romance,War",Suite Française,True
2165,tt2187444,movie,Pernicious,Pernicious,0,2014,\N,90,"Horror,Thriller",Pernicious,True

In [25]:
for column in ["titleType", "startYear", "genres"]:
    display(df_imdb_final[column].value_counts())

movie    2015
Name: titleType, dtype: int64

2017    454
2016    452
2015    426
2018    415
2019    224
2014     44
Name: startYear, dtype: int64

Drama                        112
Comedy                       101
Comedy,Drama                  86
Horror,Thriller               76
Horror                        64
                            ...
Animation,Biography,Crime      1
Crime,Romance                  1
Action,Drama,Romance           1
Crime,Mystery,Sci-Fi           1
Drama,Thriller,War             1
Name: genres, Length: 246, dtype: int64

In [26]:
df_imdb_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2015 entries, 0 to 2165
Data columns (total 11 columns):
tconst            2015 non-null object
titleType         2015 non-null object
primaryTitle      2015 non-null object
originalTitle     2015 non-null object
isAdult           2015 non-null int64
startYear         2015 non-null int64
endYear           2015 non-null object
runtimeMinutes    2015 non-null object
genres            2015 non-null object
title             2015 non-null object
check             2015 non-null bool
dtypes: bool(1), int64(2), object(8)
memory usage: 175.1+ KB

In [27]:
df_imdb_final.to_csv('2016_2019_USmovies.csv', index = False)

In [28]:
df_imdb_final = pd.read_csv('2016_2019_USmovies.csv')
df_imdb_final.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,title,check
0,tt5606664,movie,Doctor Sleep,Doctor Sleep,0,2019,\N,151,"Drama,Fantasy,Horror",Doctor Sleep,True
1,tt9257484,movie,Rattlesnake,Rattlesnake,0,2019,\N,85,"Drama,Horror,Mystery",Rattlesnake,True
2,tt6924650,movie,Midway,Midway,0,2019,\N,138,"Action,Drama,History",Midway,True
3,tt10039344,movie,Countdown,Countdown,0,2019,\N,90,"Horror,Thriller",Countdown,True
4,tt6450804,movie,Terminator: Dark Fate,Terminator: Dark Fate,0,2019,\N,128,"Action,Adventure,Sci-Fi",Terminator: Dark Fate,True

In [29]:
df_ratings = pd.read_csv("/Users/valmadrid/Downloads/title.ratings.tsv", sep ="\t")
df_ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.6      1547
1  tt0000002            6.1       187
2  tt0000003            6.5      1204
3  tt0000004            6.2       114
4  tt0000005            6.1      1932

In [30]:
q = """SELECT imdb.*, r.averageRating, r.numVotes
    FROM df_ratings as r
    JOIN df_imdb_final as imdb
    USING (tconst);"""
df_imdb_ratings = pysqldf(q)
df_imdb_ratings

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,title,check,averageRating,numVotes
0,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,\N,122,Drama,The Other Side of the Wind,1,6.9,4989
1,tt0339736,movie,The Evil Within,The Evil Within,0,2017,\N,98,Horror,The Evil Within,1,5.5,2572
2,tt0360556,movie,Fahrenheit 451,Fahrenheit 451,0,2018,\N,100,"Drama,Sci-Fi,Thriller",Fahrenheit 451,1,4.9,15295
3,tt0365545,movie,Nappily Ever After,Nappily Ever After,0,2018,\N,98,"Comedy,Drama,Romance",Nappily Ever After,1,6.4,6718
4,tt0369610,movie,Jurassic World,Jurassic World,0,2015,\N,124,"Action,Adventure,Sci-Fi",Jurassic World,1,7.0,549806
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2010,tt9562694,movie,Alien Warfare,Alien Warfare,0,2019,\N,88,"Action,Sci-Fi",Alien Warfare,1,2.6,2003
2011,tt9664078,movie,American Son,American Son,0,2019,\N,90,Drama,American Son,1,5.6,2233
2012,tt9815714,movie,The Hard Way,The Hard Way,0,2019,\N,92,Action,The Hard Way,1,4.8,1717
2013,tt9831136,movie,The Banana Splits Movie,The Banana Splits Movie,0,2019,\N,89,"Comedy,Horror,Sci-Fi",The Banana Splits Movie,1,5.0,1668
2014,tt9860728,movie,Falling Inn Love,Falling Inn Love,0,2019,\N,98,"Comedy,Romance",Falling Inn Love,1,5.6,9569

In [37]:
df_imdb_ratings.to_csv('2016_2019_USmovies.csv', index = False)

In [39]:
df_imdb_ratings = pd.read_csv('2016_2019_USmovies.csv')
df_imdb_ratings

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,title,check,averageRating,numVotes
0,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,\N,122,Drama,The Other Side of the Wind,1,6.9,4989
1,tt0339736,movie,The Evil Within,The Evil Within,0,2017,\N,98,Horror,The Evil Within,1,5.5,2572
2,tt0360556,movie,Fahrenheit 451,Fahrenheit 451,0,2018,\N,100,"Drama,Sci-Fi,Thriller",Fahrenheit 451,1,4.9,15295
3,tt0365545,movie,Nappily Ever After,Nappily Ever After,0,2018,\N,98,"Comedy,Drama,Romance",Nappily Ever After,1,6.4,6718
4,tt0369610,movie,Jurassic World,Jurassic World,0,2015,\N,124,"Action,Adventure,Sci-Fi",Jurassic World,1,7.0,549806
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2010,tt9562694,movie,Alien Warfare,Alien Warfare,0,2019,\N,88,"Action,Sci-Fi",Alien Warfare,1,2.6,2003
2011,tt9664078,movie,American Son,American Son,0,2019,\N,90,Drama,American Son,1,5.6,2233
2012,tt9815714,movie,The Hard Way,The Hard Way,0,2019,\N,92,Action,The Hard Way,1,4.8,1717
2013,tt9831136,movie,The Banana Splits Movie,The Banana Splits Movie,0,2019,\N,89,"Comedy,Horror,Sci-Fi",The Banana Splits Movie,1,5.0,1668
2014,tt9860728,movie,Falling Inn Love,Falling Inn Love,0,2019,\N,98,"Comedy,Romance",Falling Inn Love,1,5.6,9569

In [41]:
df_name= pd.read_csv("/Users/valmadrid/Downloads/name.basics.tsv", sep ="\t")
df_name.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0043044,tt0050419,tt0053137,tt0072308"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0038355,tt0071877,tt0117057,tt0037382"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,producer","tt0059956,tt0054452,tt0057345,tt0049189"
3,nm0000004,John Belushi,1949,1982,"actor,writer,soundtrack","tt0078723,tt0077975,tt0072562,tt0080455"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0083922,tt0069467,tt0050986,tt0050976"